<!DOCTYPE html>
<html>
<head>
	<title>宣讲会</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/>
</head>
<body>
	<div id="top">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a href="##" class="navbar-brand">工大宣讲会</a>
				<span id="down" have="1" type="button" class="glyphicon glyphicon-filter"></span>
			</div>
		</div>
	</div>
	<div class="list-group">
		<div class="list-group-item" style="border-bottom: 2px solid #ddd">
			<div class="row title">
				<div class="col-xs-6">用人单位</div>
				<div class="col-xs-3">举办地点</div>
				<div class="col-xs-3">举办时间</div>
			</div>
		</div>
		<div id="allData">
			
		</div>
		<div class="list-group-item" style="border-top: 0px solid #ddd">
			<div class="row title">
				<div class="col-xs-4" style="text-align: left"><a id="upOne" type="button">上一页</a></div>
				<div class="col-xs-4" style="text-align: center"><span id="currentPage"></span> / <span id="allPage"></span></div>
				<div class="col-xs-4" style="text-align: right"><a id="downOne" type="button">下一页</a></div>
			</div>
		</div>
	</div>

	
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/public/javascripts/index.js"></script>
</body>
</html>